* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background-color: #ecedf0;
}

#main-container {
  display: flex;
  margin-top: 30px;
}

#banner-container,
#form-container {
  flex: 1 1 0;
  width: 50%;
}

#banner-container img{
  width: 312px;
  margin-left: 250px;
  margin-top: 115px;
}

#banner-container p {
  margin-left: 280px;
  font-weight: 400;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 25px;
  line-height: 32px;
  width: 500px;
  margin-top: -20px;
}


#form-container {
  text-align: center;
}

#form-box {
  background-color: #fff;
  border: 1px solid #e0dfdf;
  border-radius: 5px;
  width: 368px;
  margin-top: 88px;
  margin-left: 48px;
}

#login-form {
  margin-top: 20px;
}

#login-form input {
  display: block;
  font-size: 14px;
  padding: 14px 16px;
  border: 1px solid #e0ddddad;
  border-radius: 6px;
  width: 330px;
  margin: 8px auto;
  transition: .6s;
}

#login-form input[type="submit"]:hover{
  background-color: #064fc4;
}

#login-form input[type="submit"] {
  background-color: #0866ff;
  color: #fff;
  margin-top: 15px;
  border-radius: 5px;
  padding: 14px 16px;
  width: 330px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.separator {
  position: relative;
}

.line {
  border-top: 1px solid #dbdbdb;
  width: 335px;
  margin: 25px auto 20px;
}

.forgot-pass {
  margin-top: 17px;
  margin-bottom: 19px;
  
}

.forgot-pass a {
  text-decoration: none;
  color: #0866ff;
  font-weight: 500;
  font-size: 17px;
}

.new-account{
  margin-bottom: 20px;
}
.new-account a{
  border: none;
  text-decoration: none;
  background-color: #42b72a;
  color: #fff;
  font-size: 17px;
  padding: 15px 17px;
  font-weight: bold;
  border-radius: 6px;
  line-height: 48px;
  transition: .6s;
}

.new-account a:hover{
  background-color: #328b20;
}

.page-celebrity {
  width: 368px;
  margin-left: 45px;
  margin-top: 35px;
  font-size: 13px;
}

.page-celebrity a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  
}